.container {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.clearfix {
  height: 42px;
  clear: both;
}

.wrapper {
  height: 88.4%;
  width: 100%;
  overflow-y: scroll;
  font-family: Roboto,sans-serif;
}

.image {
  height: auto;
  padding: 10px;
  text-align: center;
}

.image img {
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title h1 {
  color: #333;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin: 5px 0px 8px;
}

.description, .total {
  padding: 0 .8em;
}

.description h3 {
  background: #f2f2f2;
  padding: .8em;
  border-radius: 5px;
  color: #6c7280;
  font-size: 0.9em;
  font-weight: 300;
  margin: 0px;
  display: flex;
  justify-content:space-around;
  text-align:center;
  text-justify:auto;
}

.quantity, .options {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 1em 0em;
  text-align: center;
  padding: 0.5em 0em;
}

.quantity h3, .options h3 {
  margin: 10px 0px 0px;
  color: #555e77;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1em;
  text-transform: uppercase;
}

.quantity-adjustment, .option-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0px 1em;
  margin: 1em 0em;
}

.quantity-adjustment button {
  background: #3da6ff;
  color: #fff;
  font-size: 1em;
  padding: 0px;
  min-width: 50px;
}

.quantity-adjustment input {
  width: 5em;
  border: 1px solid #ecf0f3;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: 1em;
  font-weight: 700;
}

.quantity-adjustment input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #3da6ff;
  transition: all .1s ease-in;
}

.options {
  margin: 1.5em 0em 1em;
}

.option-items {
  flex-direction: column;
  margin-bottom: 0em;
}

.items {
  margin: 0em 0em .8em;
  display: block;
  width: 100%;
  border: 1px solid #ecf0f3;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  width: 90%;
}

.total {
  width: 100%;
  margin: 1.5em 0em 1.5em;
}

.total h2 {
  margin: 0px;
  text-align: left;
  color: #acb0b9;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.total h3 {
  margin: 0px;
  text-align: right;
  color: #525660;
  font-size: 20px;
  font-weight: 700;
  font-weight: 500;
}

.submit {
  text-align: center;
  margin-bottom: 1.5em;
}

.submit button {
  background: #3da6ff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  font-family: Roboto,sans-serif;
  letter-spacing: 1px;
}
