<div class="container">
  <div class="clearfix"></div>
  <div class="title">
    <h1>Order Summary</h1>
  </div>
  <div class="wrapper" *ngIf="!loading">
    <div *ngIf="!noFood">
      <div class="product" *ngFor="let cartItem of cartItems; let i = index">
        <div class="image">
          <img [src]="cartItem.product.image != '' ? 'https://881be530.ngrok.io' + cartItem.product.image : 'assets/NoPicAvailable.png'"/>
        </div>
        <div class="description">
          <div class="product-name">
            <h3>{{cartItem.product.name}}</h3>
          </div>
          <div class="product-price">
            <div class="product-quantity">
              <h5><span>&#8369; </span>{{cartItem.product.price | number : '1.2'}} <span> x </span>{{cartItem.quantity}}</h5>
            </div>
            <div class="product-total">
              <h4><span>&#8369; </span>{{itemTotalPrice[i] | number : '1.2'}}</h4>
            </div>
          </div>
          <div class="options" *ngIf="cartItem.selected_options != null">
            <h5>Options:</h5>
            <ul>
              <li *ngFor="let selectedProductOptions of cartItem.selected_options">
                <span class="option-title">{{selectedProductOptions.option_name}}:</span> {{selectedProductOptions.value}}
                <span class="option-price" *ngIf="selectedProductOptions.price != ''"> - &#8369; {{selectedProductOptions.price | number : '1.2'}}</span>
              </li>
            </ul>
          </div>
          <div class="delete">
            <h5 (click)="idToDelete = cartItem.id; showDialogDeleteItem = !showDialogDeleteItem;">Remove</h5>
          </div>
        </div>
      </div>
      <div class="clear">
        <button md-raised-button (click)="showDialogDelete = !showDialogDelete;">Remove all</button>
      </div>
      <div class="total-container">
        <div class="total-bill">
          <div class="total-title">
            <h3>Total Price</h3>
          </div>
          <div class="total-price">
            <h3><span>&#8369; </span>{{totalPrice | number : '1.2'}}</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- empty food tray -->
    <div class ="empty" *ngIf="noFood">
      <div class="detail">
        <h3>You do not have a food in your tray.</h3>
        <h2>Go Order Now!</h2>
      </div>
      <div class="add-food">
        <button md-raised-button (click)="goToMenu()">Add a Food</button>
      </div>
    </div>
  </div>
  <!-- loading -->
  <div class="spinner" *ngIf="loading">
    <svg viewBox="-10 -10 220 220">
      <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z"></path>
    </svg>
  </div>
</div>
<!-- Dialog for delete item -->
<app-dialog [(visible)]="showDialogDeleteItem">
  <div class="form">
    <div class="form-header delete">
      <h1>Are you sure you want to delete?</h1>
    </div>
    <div class="form-body delete-body">
      <div class="delete-button-wrapper">
        <button type="button" class="btn-create-chatbot cancel-button" (click)="showDialogDeleteItem = !showDialogDeleteItem;">No</button>
        <button type="button" class="btn-create-chatbot delete-button" (click)="onDelete(idToDelete)">Yes</button>
      </div>
    </div>
  </div>
</app-dialog>
<!-- Dialog for delete all-->
<app-dialog [(visible)]="showDialogDelete">
  <div class="form">
    <div class="form-header delete">
      <h1>Are you sure you want to delete all?</h1>
    </div>
    <div class="form-body delete-body">
      <div class="delete-button-wrapper">
        <button type="button" class="btn-create-chatbot cancel-button" (click)="showDialogDelete = !showDialogDelete;">No</button>
        <button type="button" class="btn-create-chatbot delete-button" (click)="onDelete('all')">Yes</button>
      </div>
    </div>
  </div>
</app-dialog>
